// * ********************************************************************************************************* *
// *
// * Copyright 2019 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

html,
body {
  height: 100%;
}

body {
  background-color: $IO_OIDIS_WHITE;
  color: $IO_OIDIS_BLACK;
  margin: 0;
}

a {
  color: $IO_OIDIS_BLACK;
}

.PageTree {
  background-color: $IO_OIDIS_GRAY_MEDIUM;
  float: left;
  min-height: 100%;
  padding-left: 20px;
  padding-top: 30px;
  position: fixed;
  width: 10%;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .Home {
    .Icon {
      background: url("../../../../graphics/Icon32x32.png") no-repeat;
      float: left;
      height: 32px;
      margin-right: 10px;
      width: 32px;
    }

    a {
      position: relative;
      top: 10px;
    }
  }

  h1 {
    font-size: 12pt;
    padding-top: 20px;
  }

  ul {
    padding-inline-start: 22px;
  }
}

.Content {
  float: left;
  margin-left: 10%;
  padding: 20px 20px 20px 60px;
}

h1 {
  color: $IO_OIDIS_ORANGE;
}

pre {
  background-color: $IO_OIDIS_GRAY_LIGHT;
  border: 1px solid $IO_OIDIS_GRAY_MEDIUM;
  border-radius: 8px;
  padding: 10px;
}

blockquote {
  border-left: 1px solid $IO_OIDIS_GRAY;
  color: $IO_OIDIS_GRAY;
  margin-left: 10px;
  padding-left: 1em;

  a {
    color: $IO_OIDIS_GRAY;
  }
}

code,
div .highlight {
  margin-left: 5px;
}

div .highlight {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 80%;
}
